@charset "UTF-8";

h1 {
    margin-left: 20px;
}

body{
    display: inline-block;
}

.button, .button:visited{
    color: #000;
    text-decoration: none;
    border: 1px solid black;
    padding: 2px 4px;
    border-radius: 10%;
    background-color: aliceblue;
    font-size: 14px;
}

button{
    display: flex;
    border: 1px solid black;
    padding: 2px 4px;
    border-radius: 10%;
    background-color: aliceblue;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 50%;
}
